@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'),
         url('fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
  
body {
    font-family: 'Inter', sans-serif;
}
.container {
    position: relative;
}
.header{
    background-color: white;
    margin: 30px;
}
.main-content {
    flex: 1;
    padding: 50px;
}
.item-box {
    align-items: center;
    margin-bottom: 20px;
}

.item-box figcaption img {
    max-width: 100%;
    margin-right: 0px; /* Adjust the margin as needed */
}
.item-box figcaption h3{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.item-box figcaption h3,
.item-box figcaption p {

    outline: invert;
    width: 1240px;
    background-color: #DAF2D8; /* Background color for names and descriptions */
    padding: 10px;
    margin: 0; /* Adjust the padding as needed */
}

.sidebar {
    width: 20%; 
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the links in the sidebar */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 40px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar a:hover {
    color: blue; /* Change the color on hover */
}

footer {
    font-size: small;
    display: block;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
